/* //// GLOBAL //// */
html, body{
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body{
  font-family: "Droid Sans", sans-serif !important;
  text-align: center;
}

.data-table{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.labels{
	font-weight: bold;
	font-size: 18px;
}

.main-btn{
	margin: 10px 0 20px 0 !important;
}

.data{
	display: inline-block;
}

.icon{
	height: 24px;
	width: 24px;
}

.rating{
	font-weight: bold;
}

.sliders input{
	width: 25em !important;
	display: inline-block !important;
	margin-right: 1em;
	vertical-align: middle !important;
}
.sliders span{
	font-size: 1em !important;
	vertical-align: middle !important;
}
.sliders select{
	width: 100px;
	vertical-align: middle !important;
	display: inline-block;
	margin-right: 1em;
}

.base{
	border-left: 1px solid #ddd;
}

.modal-body{
	text-align: left;
}