/* //// GLOBAL //// */
html, body{
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body{
  font-family: "Droid Sans", sans-serif !important;
  text-align: center;
}

.data-table{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.labels{
	font-weight: bold;
	font-size: 18px;
}

.data{
	margin-top: 10px;
	display: inline-block;
}

.icon{
	height: 24px;
	width: 24px;
}

.rating{
	font-weight: bold;
}

.sliders input{
	width: 25em !important;
	display: inline-block !important;
	margin-right: 1em;
}
.sliders span{
	font-size: 1em !important;
	vertical-align: top !important;
}

/*
.champ{
	border: 1px solid black;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
} */