/* //// GLOBAL //// */
html, body{
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body{
  font-family: "Droid Sans", sans-serif !important;
  text-align: center;
}

.champ{
	border: 1px solid black;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}